.button-group {
  .temp-button + .temp-button {
    margin-top: 25px;
  }
}

.temp-progress-bar {
  max-width: 195px;
  margin: 0 auto;
}

.article {
  padding: 0 20px;
  text-align: center;
}

.heading {
  margin: 20px 0 40px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;

  .category {
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #cdcdd0;
    line-height: 90px;
    font-size: 20px;
  }
}
