.button-group {
  .temp-button + .temp-button {
    margin-top: 25px;
  }
}

.temp-progress-bar {
  max-width: 300px;
  margin: 0 auto;
}

.article {
  padding: 30px 20px;
  text-align: center;
}

.heading {
  margin: 0 0 30px;
}
