.wizard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  [class^='wizard-section-'] {
    background-color: #fff;
  }

  .wizard-content {
    width: 485px;
    position: relative;
    z-index: 10;
  }

  .button-close {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 20px;
    color: #cc583e;
    text-align: center;
    line-height: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(#000000, 0.5);
  }
}
